files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGBTCCBO2gAwIBAgISAx3ODxT0kM+yr6fn08jBK60HMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTA0MzAyMDM2MDJaFw0x
      OTA3MjkyMDM2MDJaMBsxGTAXBgNVBAMTEHBhcGVybGVzcy5jb20ubmcwggEiMA0G
      CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDgGlSayWcFKwNLRrn654rCFjMqWC2x
      npMp35YeI7fdziAjALfgj0l4eao0e27o4fl/eF3CFlMIigI+lK6TEWaQx3EshAQP
      RwrWY9AUlLYomAlGyvpjIELqqpmZJFWKdw8yOsprhv7JEDkh8nA+6iWXmx1jU0wA
      sgOkCxWdmvq65JBe+6YGs6JESzqbE2asbZmp33qHHHthSl+5IJqHpyBC9Si1p4/N
      HaBQ7j39Lz32P70JirjqDX+JMSakveNZCSGNwIHRAulU1uAbGgcZuxp9rCJxdbXn
      KWboQTVCdH6IXgakhhBWh9pn4/6zdsB84GROmlPxCfCgf+hRVau8GMBtAgMBAAGj
      ggMSMIIDDjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsG
      AQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFPGhK5hLxJd22eqqKslOhI0/
      3hb2MB8GA1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEB
      BGMwYTAuBggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0
      Lm9yZzAvBggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0
      Lm9yZy8wgccGA1UdEQSBvzCBvIIXKi5tYWlsLnBhcGVybGVzcy5jb20ubmeCEiou
      cGFwZXJsZXNzLmNvbS5uZ4IfKi5wYXBlcmxlc3MudGhlYWtvbW9sYWZlLmNvbS5u
      Z4IWKi53d3cucGFwZXJsZXNzLmNvbS5uZ4IjKi53d3cucGFwZXJsZXNzLnRoZWFr
      b21vbGFmZS5jb20ubmeCEHBhcGVybGVzcy5jb20ubmeCHXBhcGVybGVzcy50aGVh
      a29tb2xhZmUuY29tLm5nMEwGA1UdIARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8T
      AQEBMCgwJgYIKwYBBQUHAgEWGmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIB
      BAYKKwYBBAHWeQIEAgSB9QSB8gDwAHYA4mlLribo6UAJ6IYbtjuD1D7n/nSI+6SP
      KJMBnd3x2/4AAAFqcC0R5wAABAMARzBFAiEAp3Ejkv+JSWV/yw9u9M4RBMFxZ9QA
      CaLmp9KBndhiORwCIF0JpF3OLGnUbpQVkyWUItwOaLQe306A8zNuDHlCVXagAHYA
      KTxRllTIOWW6qlD8WAfUt2+/WHopctykwwz05UVH9HgAAAFqcC0QCwAABAMARzBF
      AiB4wI/ZlTr4+gjCFgyh4osc+bucPNAfUJGq1T8qGPOZPwIhALKU58P6wvIlfhgO
      WVQraYqCBKO883b5Oba8V9zA03E5MA0GCSqGSIb3DQEBCwUAA4IBAQA4fpF/W5Xr
      +Wy1rrd5K3b/w0cQk83QOgzX7/J56GJfxrQjJAdyN5lR5esT7H/KEGk0cROLExhx
      weXB/hA3Z5Y7VSVUyZeB9PrB341JWoxT7xiDAT7V4m2AUOEcmS8K0Bc3AHxUW11s
      5zi+sh+2WJuHP8Wtg46m6QMtf5FL70eR7r9BZbcHaQXgFpqMa51ANmWPbp/Ykbl3
      qSepe6PWiu+MjmRZePieEZtPgcH3z7qGSbIWBsg/kmfBBCKicM01Y4Ceb2BXh0lF
      bHbT2e899/Xo7VM7HKmesy72xpbaPPTCoq/vDUH0EZ3coACCgm2F8OxekhWdYMlt
      0qFH8tOhcbJQ
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/MSQwIgYDVQQK
      ExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMTDkRTVCBSb290IENBIFgzMB4X
      DTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0NlowSjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxl
      dCdzIEVuY3J5cHQxIzAhBgNVBAMTGkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4
      S0EFq6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8SMx+yk13
      EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0Z8h/pZq4UmEUEz9l6YKH
      y9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWAa6xK8xuQSXgvopZPKiAlKQTGdMDQMc2P
      MTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQAB
      o4IBfTCCAXkwEgYDVR0TAQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEE
      czBxMDIGCCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNvbTA7
      BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9kc3Ryb290Y2F4My5w
      N2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAwVAYDVR0gBE0wSzAIBgZngQwBAgEw
      PwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcCARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNy
      eXB0Lm9yZzA8BgNVHR8ENTAzMDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9P
      VENBWDNDUkwuY3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJouM2VcGfl96S8
      TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/wApIvJSwtmVi4MFU5aMqrSDE
      6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwuX4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPM
      TZ+sOPAveyxindmjkW8lGy+QsRlGPfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M
      +X+Q7UNKEkROb3N6KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA4BpUmslnBSsDS0a5+ueKwhYzKlgtsZ6TKd+WHiO33c4gIwC3
      4I9JeHmqNHtu6OH5f3hdwhZTCIoCPpSukxFmkMdxLIQED0cK1mPQFJS2KJgJRsr6
      YyBC6qqZmSRVincPMjrKa4b+yRA5IfJwPuoll5sdY1NMALIDpAsVnZr6uuSQXvum
      BrOiREs6mxNmrG2Zqd96hxx7YUpfuSCah6cgQvUotaePzR2gUO49/S899j+9CYq4
      6g1/iTEmpL3jWQkhjcCB0QLpVNbgGxoHGbsafawicXW15ylm6EE1QnR+iF4GpIYQ
      VofaZ+P+s3bAfOBkTppT8QnwoH/oUVWrvBjAbQIDAQABAoIBAQC5OSoKUUJjxBxR
      4GAhH7TRG/YoHn+N2en6ZwE1YgI7Qn3PUG2qHeP0vmJORGLz+qnzkHG11CvG2AJo
      5QyxI2Wpbh59U5PjaK1ta0v1ZsB0Js0sBOIUgfqs6FpRd/V3n1YhBvR9ETOOzWjb
      RP0/EtoFR0Bv8s3TmU5nDH5OKGTpiCn1nH05gAM+80pVeqxiWLWi0j4MFTfcDpOm
      mKsfh7FvZFSDWwmW4cqoVs+ZyvPdlAvlwaiVKVsPpCAQ5bjpEEq+0TTnTA4YcY6a
      TqFpeWUTUzdsRIPJLN0sa2E5ebabIcQ01uW0Gw0JrfSGmJXws0telgH65/a8yXn2
      MKA4tVUFAoGBAOVB2kk7AX0M+q9qVTFumP2Oevw/2tAAaboVq1OzETMp9kJD5M6+
      79DveVY90yinxuCwmBLBvyF6sLoX80wmbIGXvXWonIHJlf8bfeHiJFHMgCVBsIeV
      MKP8ukT5TGpS3qz3HM/z1tyJCSxDaNNcaH6CvCHbp2tcscsANIC48sFPAoGBAPo+
      jltuDSN+9cvJxSkm6b/09dTpUZ2cJB0keZ8OiJWgSW+ztN1C4zqyOVLDVO3zF8is
      bDodRpBDJSPrNMcxSGbHchRkoA598QuD7RiEflBv6YDJuVsdqiU42nSldA5E2wkY
      Frd0msOYDX/RVh/voKG8ap2Wz16gEBQG5L9Om5uDAoGAIkD0nHx0fHqz+gGpOPmN
      YlUniwj/aJSnN2aFcrwOldZvNPdv+HQO4Ojm+DvEkQ6AaJH6JtNL+3SZczSg5X/Y
      NoS1ih7nQ30bLEKvTFC9nHsxql9mQNvJqLbaHfQhtsErBCzn4SpNsCXJeROZVfs4
      oa5m7agkG6Z96hbdwV3g54ECgYB0sXEu/53O3KiANIHlU8kTA4cTlw3BIovQry6r
      1loo9ArqtPF1cHiH6Y5DouTa5U5E/OqnGvnJ0hXirw74iGnLy9vN2LKur1oVVZrd
      oQNKPTW1Idx2udma6+0rEfCRqtg9YGdPe2ekKCa7YQH5eIP+h99rx2TCKn/05tYK
      w/xaQwKBgQCT601elgQbKkk2qnjNxYL4s/WzeDrnXGZrcG8gg20XgTmpf+XROaif
      Ohm/abWrBQfnGHP4/nsRjLnepOWSmDwGA/K7AWvzqGEQc4FyhmhDSsR/EaZ07rZo
      RH5NEhN7xXTliCcfb60j6LpivOcG++0iH8QoMFEmJBMml54rZiNemw==
      -----END RSA PRIVATE KEY-----